body{
  font-size: 12px;
}

#main{
  width: 400px;
  margin-left: 20px; 
}
#errmsg{
  color: #ff0000; 
}

h3{
  font-size: 16px;
  font-weight: bold;
  border-bottom: 1px dotted #666666;
  
}

input[type="text"]{
  height: 23px;
}
